<nav class="nav">
  <div class="nav-inner container">
    <a href="/" class="nav-logo" data-link>{{siteName}}</a>
    <div class="nav-links nav-links--desktop">
      {{#each links}}
        <a href="{{href}}" data-link>{{label}}</a>
      {{/each}}
    </div>
  </div>
</nav>